.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
}

.row {
  margin: 15px 5px;
}
#wrapper {
  border-radius: 5%;
  padding: 2%;
  text-align: left;
  background-color: floralwhite;
  width: 37%;
  margin: 2% 60%;
}

#quote {
  display: none;
  border-radius: 5%;
  padding: 2%;
  text-align: center;
  background-color: floralwhite;
  width: 37%;
  margin: 2% 60%;
}
#carousel-img {
  height: 100vh;
  width: 100%;
}

nav h3 {
  color: white;
  justify-content: center;
  margin-left: 33%;
}

button {
  margin: 2% 8%;
}

.alert.alert-danger {
  margin: 0.2% auto;
  padding: 2%;
  text-align: center;
  font-size: small;
}

#buttons_div {
  text-align: center;
}

.bi-clipboard2-fill {
  margin-left: 2%;
}

.bi-clipboard2-fill:hover {
  color: yellowgreen;
  cursor: pointer;
}

#copy_notification {
  display: none;
  color: #fff;
  background-color: #333;
  min-width: 250px;
  margin-left: -125px;
  border-radius: 2px;
  padding: 16px;
  text-align: center;
  left: 50%;
  bottom: 30px;
  z-index: 1;
  position: fixed;
}

#copy_notification.show {
  display: block;
}
